<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>Search Results</title>
  </head>
  <body>
    <div class="container">
        <% if(journey) { %>
          <h3 class="text-center my-3">Journey details:</h3>
          <div class="accordion" id="journeyAccordion">
            <% journey.legs.forEach((leg, i) => { %>
              <div class="card">
                <div class="card-header" id="heading<%= i %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                      Leg <%= i + 1 %>
                    </button>
                  </h5>
                </div> 
                <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#journeyAccordion">
                    <div class="card-body">
                      <% if(leg.line) { %>
                        <p>Transport type: <%= leg.line.mode %></p>
                      <% } %>
                      <% if (leg.origin) { %>
                        <p>Departure station: <%= leg.origin.name %></p>
                      <% } %>
                      <% if (leg.to) { %>
                        <p>Arrival station: <%= leg.to.name %></p>
                      <% } %>
                      <p>Duration: <%= leg.duration / 60 %> minutes</p>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
            <% } else { %>
                <p class="text-center">Journey data not found</p>
                <% } %>
                
                </div>
            
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

